.fet{
    background-color: rgb(211, 208, 205);
}
.fet h1{
    margin-left: 2rem;
    padding:20px;
}
.fet ul{
    list-style:none;
    margin-left:23px;
}
.fet li{
    margin-bottom:10px;
}
.fet img{
  margin-right: 4em;   
  margin-top: 2em; 
}
.obj h2{
  margin-left: 26px;
  margin-bottom:20px;
}
.obj ul{
    list-style:none;
    font-size: medium;
}
.obj li{
    margin-bottom:10px;
}
.button a:hover{
    color:black;
}

